{% extends "SzymonTurniejBundle::layout.html.twig" %}

{% block contents %}
	<h1>Przygotowanie</h1>
	<p>
		<b>Lista przedmiotów niezbędnych do przeprowadzenia Turnieju Szachowego:</b>
	</p>
	
	<br>
	<ul style="list-style: none">
		<li><b>-</b> pisemny regulamin konkursu,</li>
		<li><b>-</b> szachownice ( na każdym stanowisku gry),</li>
		<li><b>-</b> zegary lub stopery ( na każdym stanowisku gry),</li>
		<li><b>-</b> komputer z przygotowanym oprogramowaniem,</li>
		<li><b>-</b> rzutnik</li>
	</ul>
	<br>
	
	<div class="c">
		<b>
			Każdy uczestnik ma obowiązek zapoznania się i zaakceptowaniem regulaminu oraz planu sali. Wszystkie niezbędne dokumenty znajdują się pod zakładką „Informacje”.
		</b>
	</div>
{% endblock %}
